<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/land"><i class="bi bi-caret-left-fill"></i> Regresar</a>
      <a class="navbar-brand" href="#" (click)="logout">  <i class="bi bi-box-arrow-right"></i> Cerrar sesión</a>
    </div>
  </nav>

  <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <!--Imagen de ejemplo-->
            <img src="https://cdn-icons-png.freepik.com/512/6716/6716646.png" class="rounded-circle" alt="Foto de perfil" width="150" height="150">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-2">
            <label for="nombre-usuario" class="display-6">{{ nombreUsuario }}</label>
          </div>
        </div>
      </div>
      
      <br>

        <div class="card card-sm">
          <div class="card-body">
            <h5 class="card-title">Información del usuario</h5>
            <table class="table">
              <tbody>
                <ng-container *ngIf="(authService.currentUser | async)?.cuatrimestre === 'admin'; else usuarioNormal">
                  <tr>
                    <td><label class="label">Tipo de perfil:</label></td>
                    <td>Administrador</td>
                  </tr>
                </ng-container>

                <ng-template #usuarioNormal>
                  <tr>
                    <td><label class="label">Tipo de perfil:</label></td>
                    <td>Usuario</td>
                  </tr>
                </ng-template>

                <tr>
                  <td><label for="label-UsuarioEmail" class="label">Correo:</label></td>
                  <td>{{ correoUsuario }}</td>
                </tr>            
              </tbody>
            </table>
          </div>
          <br>
          <div class="contactos">
            <h5>Para reportar un problema o situación:</h5>
            <p>Sporte tecnico: 449 101 0101</p>
            <ng-container *ngIf="(authService.currentUser | async)?.cuatrimestre === 'admin'; else usuarioNormal2"></ng-container>
            <ng-template #usuarioNormal2>
              <p>Administadores: 449 202 0202</p>
            </ng-template>
            <p>Encargado de laboratorios: 449 303 0303</p>
            <p>Sporte tecnico: 449 404 0404</p>
          </div>
        </div>
      </div>

          <img src="https://images.vexels.com/media/users/3/157518/isolated/preview/c54323942a5b08df8411e33e25680ab3-pile-of-books-vector.png" alt="Imagen" class="booksimg">
          <img src="https://static.vecteezy.com/system/resources/previews/010/851/447/original/calendar-flat-icon-png.png" alt="Imagen" class="calendarimg">       


  <router-outlet></router-outlet> 